<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- 날짜별 파일 로깅 (년월일_시분 형식) -->
		<target name="file" type="File"
				fileName="D:\MyLogs\Log_${date:format=yyyyMMdd_HH}.log"
				layout="${longdate} | ${level} | ${message} | ${exception:format=ToString}"
				archiveFileName="D:\MyLogs\archive\log_{#}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />
		<!-- 오류 로그 파일 -->
		<target name="ErrorLog" type="File"
				fileName="D:\MyLogs\error_${date:format=yyyyMMdd_HH}.log"
				layout="${longdate} | ${level} | ${message} | ${exception:format=ToString}"
				archiveFileName="D:\MyLogs\archive\error_{#}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />
		<!-- 경고 로그 파일 -->
		<target name="WarnLog" type="File"
				fileName="D:\MyLogs\warn_${date:format=yyyyMMdd_HH}.log"
				layout="${longdate} | ${level} | ${message} | ${exception:format=ToString}"
				archiveFileName="D:\MyLogs\archive\warn_{#}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />
		<!-- Trace 로그 파일 -->
		<target name="TraceLog" type="File"
				fileName="D:\MyLogs\Trace_${date:format=yyyyMMdd_HH}.log"
				layout="${longdate} | ${level} | ${message} | ${exception:format=ToString}"
				archiveFileName="D:\MyLogs\archive\Trace_{#}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />
		<!-- Debug 로그 파일 -->
		<target name="DebugLog" type="File"
				fileName="D:\MyLogs\Debug_${date:format=yyyyMMdd_HH}.log"
				layout="${longdate} | ${level} | ${message} | ${exception:format=ToString}"
				archiveFileName="D:\MyLogs\archive\Debug_{#}.log"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />

	</targets>

	<rules>
		<!-- 일반 로그 (Info 이상) -->
		<logger name="*" minlevel="Info" writeTo="file" />
		<!-- 오류 로그 (Error 이상) -->
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
		<!-- 오류 로그 (Warn 이상) -->
		<logger name="*" minlevel="Warn" writeTo="WarnLog" />
		<!-- 일반 로그 (Trace 이상) -->
		<logger name="*" minlevel="Trace" writeTo="TraceLog" />
		<!-- 일반 로그 (Debug 이상) -->
		<logger name="*" minlevel="Debug" writeTo="DebugLog" />

	</rules>

</nlog>